@charset "utf-8";
/* CSS Document */


body{ width:100%; height:auto; background:#0f0f0f; margin:0; padding:0;}
#warp{ width:944px; height:auto; margin:0 auto; padding:0 8px;}

.head{ height:121px; width:904px; padding:0 20px; margin:0; font-family:Arial, Helvetica, sans-serif;}
.logo{ width:122px; height:121px; float:left;}
.title{ width:200px; height:96px; float:left; margin:0; padding:25px 0 0 0;}
h1{ margin:0; padding:0; font-size:40px; color:#2e639e;}
h2{ margin:0; padding:0; font-size:16px;color:#bc2a27;}
.menu{ width:196px; height:81px; float:left;margin:0; padding:40px 0 0 384px; color:#888; font-size:12px; text-align:right;}
.head p { margin:0; padding:0; line-height:20px;}
.head a{ color:#888; text-decoration:none; padding:0 2px;}
.head a:hover{ text-decoration:underline;}

.banner{height:444px; width:944px; padding:0; margin:0 0 20px 0; font-family:Arial, Helvetica, sans-serif;}
.bannrer-left{ float:left; width:474px; height:444px; background:url(images/banner-1.jpg) no-repeat;}
.bannrer-right{ float:right; width:470px; height:444px;background:url(images/banner-2.jpg) no-repeat;}
.banner-text { background:url(images/banner-3.jpg) no-repeat; width:462px; height:36px; padding:30px 0 30px 8px; font-size:16px; color:#FFF; line-height:20px; margin-top:147px;}
.banner-btn { background:url(images/banner-4.jpg) no-repeat  236px 0; height:82px;}

.content{height:auto; width:944px; padding:0; margin:0 0 10px 0 ; font-family:Arial, Helvetica, sans-serif;}
.content-top{ width:944px; height:6px; background:url(images/content-top.jpg) no-repeat;}
.content-center { width:884px; height:auto; margin:0; padding:35px 60px 45px 0; background:#303030;}
.center-top {width:884px; height:125px; margin:0; padding:0; background:#303030;}
.center-top ul{ margin:0; padding:0 0 20px 60px;; float:left; list-style:none; width:160px; height:auto;}
.center-top ul li{ margin:0; padding:0 0 5px 0; float:none; color:#999; font-size:11px;}
.pic{ float:left; width:45px; height:45px;}
.tit{ float:left; width:100px; height:40px; font-size:12px; font-weight:bold; line-height:16px; color:#f9f9f9; padding:5px 0 0 15px;}
.line{ width:824px; height:20px; margin:0; margin:0 60px; background:url(images/line.jpg) no-repeat;}
.center-bottom{ width:824px; height:auto; padding:10px 60px 0 60px; color:#777; }
h3{ margin:0; padding:0; text-align:center; font-size:18px;font-weight:lighter; }
.center-bottom p{ margin:0; padding:10px 0 0 0; font-size:12px; line-height:20px;}
.center-bottom a { color:#777;}

.content-bottom{ width:944px; height:5px; background:url(images/content-bottom.jpg) no-repeat; }

.foot{width:944px; padding:0; margin:0 0 20px 0 ; font-family:Arial, Helvetica, sans-serif;}
.foot-center{ height:21px; background:#303030; text-align:center; margin:0; padding:5px 0 0 0;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#cbcbcb;}




/*------ahout---------*/
h4{ margin:0; padding:0; color:#fff; font-size:26px;}
h5{ margin:0; padding:0; color:#fff; font-size:20px; font-weight:lighter;}
.center-left{ width:490px; height:auto; padding:0 60px; color:#999; float:left; }
.center-left p{ margin:0; padding:10px 0 0 0; font-size:14px; line-height:20px;}
.center-left a { color:#999;}
.center-right{ width:274px; height:auto; padding:0; color:#999; float:left; }
.center-right p{ margin:0; padding:10px 0 0 0; font-size:12px; line-height:20px;}



/*---------learn-----------*/
.ProOverview{ width:824px; height:160px; margin: 30px 0 0  0; padding:0;}
.ProImg{ float:left; width:216px; height:160px;}
.portfolio-txt{ float:left; width:580px; height:160px; padding:0 0 0 28px; margin:0;}
.portfolio-txt p{ margin:0; padding:10px 0 0 0; font-size:14px; line-height:22px;}
.portfolio-txt a { color:#999;}