.content_container{min-width:1080px; width:100%; margin:0; padding:0;}

.content_hilite{background: url(images/shadow_top.png) no-repeat; margin:45px auto 0 auto; width:850px; height:19px;}
.content{min-height:500px; width:913px; padding:0 0 20px 0; margin:-61px auto 25px auto; background:#fff; border:15px #041e2b solid; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }

.banner-text h1{ margin-top:20px; float:right; }
.content_hilite{ margin:0 auto; }
.content{ margin:-11px auto 25px auto; padding:0 0 60px 0; }
.app{margin-top:10px;}
.app_info{ position:relative; margin:0 ; width:280px;}
.app_title h2 a{ margin:0 80px; line-height:20px; padding:15px 0 0 55px;}
.desc{ margin:0 83px;}

.foot_hilite{ margin:-45px 0 0 -780px; width:100%;}

/*------press---------*/
.left{ margin:30px 0; }
.right{ margin:50px 65px 0 0; padding:0 20px 20px 20px; }

.press_kit { margin-top:0; }
.social { margin-top:0; }
.contact { margin-top:0; }
.doc img{width:16%;}
.pdf img{width:10%;}
.facebook img{width:11%;}
.twitter img{width:13%;}
.clixtr img{width:100%;}
.picbounce img{ height:30px; margin-left:4px;}